<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Purp!</title>
    <link rel="icon" href="favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js" integrity="sha512-RozPeKxKPtXNqvICs7iMDchhJmypo89PxwY6poaAa7TyED7PgwPbBcsAhLwzcEQf/kRwbOnYRvSezQ5CMqHjIA==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tinygradient@1.1.2/browser.min.js"></script>


    <!-- development version, includes helpful console warnings
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    -->

    <script src="https://code.jscharting.com/latest/jscharting.js"></script>
    <script src="https://code.jscharting.com/latest/modules/toolbar.js"></script>

    <link rel="stylesheet" href="purp.css">

    <script type="text/javascript" src="utils.js"></script>
    <script type="text/javascript" src="PurpleAirApi.js"></script>
    <script type="text/javascript" src="SensorData.js"></script>
    <script type="text/javascript" src="purp.js"></script>

</head>
<body onload="main()">

<div id="app">
    {{title}}

    <div v-if="!error">
        <p>Sensors:</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Temperature</th>
                <th>AQI</th>
                <th>Status</th>
            </tr>
        <tbody v-for="s in sensors">

            <tr v-if="!s.error">
                <td>
                    {{ s.id }}
                    <br>
                    <a v-bind:href="s.getInfoURL()"><img src="img/info-small.png"/></a>
                </td>
                <td>
                    {{ s.results?.Label }}
                    <br/>
                    ({{ s.results?.DEVICE_LOCATIONTYPE }})
                    <br/>
                    <div class="stat-map"><a v-bind:href="s.getMapURL()"><img src="img/map-small.png"/></a></div>
                </td>
                <td class="temp">
                    {{ s.getTempF() }} °F
                    <br/>
                    <div class="stat-map"><a v-bind:href="s.getTempURL()"><img src="img/map-small.png"/></a></div>
                </td>
                <td class="aqi">
                    <table>
                        <tr>
                            <td v-for="si in statsInfo" v-bind:style="{background: s.getStat(si)?.color, color: s.getStat(si)?.text}">
                                <div class="stat-map" style="float: right"><a v-bind:href="s.getStat(si)?.map"><img src="img/map-small.png"/></a></div><div class="stat-label">{{s.getStat(si)?.label}}</div>
                                <div class="stat-aqi">{{s.getStat(si)?.aqi}}</div>
                                <div class="stat-pm">{{s.getStat(si)?.pm}} µg/m3</div>
                            </td>
                        </tr>
                    </table>
                    <div v-bind:id="'chart-' + s.key" style="max-width: 100%; height: 400px;margin: 0px auto">
                        bla
                    </div>
                </td>
                <td class="status" rowspan="2">
                    <div id="status">
                        Status: {{ s.currentStatus }}
                    </div>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show raw data</button>
                    <div id="demo" class="collapse raw-data">
                        {{ s.results }}
                    </div>
                </td>
            </tr>
            <tr v-if="!s.error" class="neighbors">
                <td colspan="3">
                    Nearby ({{s.getNearbyStat(si)?.count || 0}} devices in {{s.getNearbyStat(si)?.miles || "?"}} mile radius)
                </td>
                <td>
                    <table>
                        <tr>
                            <td v-for="si in statsInfo" v-bind:style="{background: s.getStat(si)?.color, color: s.getStat(si)?.text}">
                                <div class="stat-label">{{s.getNearbyStat(si)?.label}}</div>
                                <div class="stat-aqi">{{s.getNearbyStat(si)?.aqi}}</div>
                                <div class="stat-pm">{{s.getNearbyStat(si)?.pm}} µg/m3</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr v-if="s.error">
                <td v-if="s.error" colspan="5" class="error">{{ s.error }}</td>
            </tr>
        </tbody>

        </table>
    </div>

    <div v-if="error" class="error">
        {{error}}
    </div>

    <div id="log" class="collapse log"></div>
    <button id="log-btn" type="button" class="btn" data-toggle="collapse" data-target="#log">Show log</button>
</div>

</body>
</html>
