<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Purp!</title>
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="img/icon-192x192.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js" integrity="sha512-RozPeKxKPtXNqvICs7iMDchhJmypo89PxwY6poaAa7TyED7PgwPbBcsAhLwzcEQf/kRwbOnYRvSezQ5CMqHjIA==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tinygradient@1.1.2/browser.min.js"></script>


    <!-- development version, includes helpful console warnings
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    -->

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="https://code.jscharting.com/latest/jscharting.js"></script>
    <script src="https://code.jscharting.com/latest/modules/toolbar.js"></script>

    <link rel="stylesheet" href="purp.css">

    <script type="text/javascript" src="utils.js"></script>
    <script type="text/javascript" src="PurpleAirApi.js"></script>
    <script type="text/javascript" src="SensorData.js"></script>
    <script type="text/javascript" src="purp.js"></script>

</head>
<body onload="main()">

<div id="app">

    <div class="app-title">
        <img src="img/icon.png" width="32" height="32">
        <b>Purp</b>
        (<a href="https://www.github.com/MarcinZukowski/purp">github</a>)
    </div>

    <div v-if="!error">
        <table class="main-table">
            <tr>
                <th>Sensor</th>
                <th>Current AQI</th>
                <th>Current Temp.</th>
                <th>Details</th>
                <th>Status</th>
            </tr>
        <tbody v-for="s in sensors">
            <tr v-if="!s.error">
                <td class="info-sensor">
                    <div class="stat-map" style="float: right"><a v-bind:href="s.getMapURL()"><img src="img/map-small.png"/></a></div>
                    <div style="float: left">
                        <a v-bind:href="s.getInfoURL()"><img src="img/info-small.png"/></a>
                    </div>
                    <div class="info-sensor-title">
                        {{ s.results?.Label }}
                    </div>
                    <div class="info-sensor-details">
                        {{ s.results?.DEVICE_LOCATIONTYPE }}, #{{ s.id }}
                    </div>
                    <div v-bind:style="{background: s.color, height: '6px'}">
                    </div>
                </td>
                <td class="info-big info-aqi" v-bind:style="{background: s.getStat()?.color, color: s.getStat()?.text}">
                    <div class="stat-map" style="float: right"><a v-bind:href="s.getStat()?.map"><img src="img/map-small.png"/></a></div>
                    <div class="info-big-value">{{s.getStat()?.aqi}}</div>
                    <div class="info-big-pm">{{s.getStat()?.pm}} µg/m3</div>
                </td>
                <td class="info-big info-temp">
                    <div class="stat-map" style="float: right"><a v-bind:href="s.getTempURL()"><img src="img/map-small.png"/></a></div>
                    <div class="info-big-value">{{ s.getTempF() }} °F</div>
                </td>
                <td class="info-details">
                    <div style="height: 100%">
                        <table class="aqi-details">
                            <tr>
                                <td v-for="si in statsInfo" v-bind:style="{background: s.getStat(si)?.color, color: s.getStat(si)?.text}">
                                    <div class="stat-map" style="float: right"><a v-bind:href="s.getStat(si)?.map"><img src="img/map-tiny.png"/></a></div>
                                    <div class="stat-label">{{s.getStat(si)?.label}}</div>
                                    <div class="stat-aqi">{{s.getStat(si)?.aqi}}</div>
                                    <div class="stat-pm">{{s.getStat(si)?.pm}} µg/m3</div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </td>
                <td class="status">
                    <div id="status">
                        Status: {{ s.currentStatus }}
                    </div>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show raw data</button>
                    <div id="demo" class="collapse raw-data">
                        {{ s.results }}
                    </div>
                </td>
            </tr>
            <tr v-if="!s.error && false" class="neighbors">
                <td colspan="3">
                    Nearby ({{s.getNearbyStat(si)?.count || 0}} devices in {{s.getNearbyStat(si)?.miles || "?"}} mile radius)
                </td>
                <td>
                    <table>
                        <tr>
                            <td v-for="si in statsInfo" v-bind:style="{background: s.getStat(si)?.color, color: s.getStat(si)?.text}">
                                <div class="stat-label">{{s.getNearbyStat(si)?.label}}</div>
                                <div class="stat-aqi">{{s.getNearbyStat(si)?.aqi}}</div>
                                <div class="stat-pm">{{s.getNearbyStat(si)?.pm}} µg/m3</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr v-if="s.error">
                <td v-if="s.error" colspan="5" class="error">{{ s.error }}</td>
            </tr>
        </tbody>

        <tr>
            <td colspan="5">
                <div style="position: relative">
                    <div id="chart" style="max-width: 100%; height: 400px;margin: 0px auto">
                        chart
                    </div>
                    <div id="chart-bottom" style="position: absolute; bottom: 0; right: 0;">
                    </div>
                </div>
            </td>
        </tr>

        </table>
    </div>

    <div v-if="error" class="error">
        {{error}}
    </div>

    <div id="log" class="log collapse"></div>
    <button id="log-btn" type="button" class="btn" data-toggle="collapse" data-target="#log">Show log</button>
</div>

</body>
</html>
