body {
    background-color: aliceblue;
    color: black;
    font-family: Consolas;
}

.error {
    background-color: red;
    color: white;
    font-size: 20pt;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 4px solid black;
}

tr {
    border: 2px solid black;
}

td,th {
    border: 1px solid black;
    padding: 3px;
}

.aqi table, .aqi tr {
    border: 0px solid black;
}
.aqi td {
    border: 1px solid black;
    height: 100%;
    text-align: center;
    white-space: nowrap;
}

td.raw-data {
    font-size: 10pt;
}

.stat-label {
    font-size: 12px;
}
.stat-aqi {
    font-size: 16px;
    font-weight: bold;
}
.stat-pm {
    font-size: 10px;
}
.stat-map {
    padding: 5px;
}

